 .header {
  height: 55px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
  z-index: 100;
 }

 .left-section {
  align-items: center;
  display: flex;

 }

 .middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
 }

 .right-section {
  width: 180px;
  margin-right: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
 }

 .hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right:24px;
 }
 
 .youtube-logo {
    height: 20px;     
 }

 .search-button {
   height: 40px;
   width: 66px; 
   background-color: rgb(242, 242, 242); 
   border-width: 1px;
   border-style: solid;
   border-color: rgb(192, 192, 192);
   margin-left: -1px;
   margin-right: 10px;  
 }

 .voice-search-button {
   height: 40px;
   width: 40px;
   border-radius: 20px;
   border: none;
   background-color: rgb(245, 245, 245);
 }

 .search-bar {
   flex: 1;
   height: 36px;
   font-size: 16px;
   padding-left: 10px;
   border-width: 1px;
   border-style: solid;
   border-color: rgb(192, 192, 192);
   border-radius: 2px;
   box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
   width: 0;
 }

 .search-bar::placeholder {
   font-family: Roboto, Arial;
   font-size: 16px;
 }

 .search-icon {
  height: 25px;
 }

 .voice-search-icon {
  height: 24px;
 }

 .upload-icon {
  height: 24px;
 }

 .youtube-apps-icon {
  height: 24px;
 }

 .notifications-container {
  position: relative;
 }

 .notifications-icon {
  height: 24px;
 }

  .notifications {
  background-color: rgb(204, 0, 0);
  position: absolute;
  color: white;
  top: -4px;
  right: -5px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
  padding-left:1px;
  padding-right: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 999px;
 }

 .current-pfp-icon {
  height: 32px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
 }

 .search-button, 
 .voice-search-button,
 .upload-icon-button,
 .youtube-apps-button,
 .notifications-icon-button {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
 }

 .search-button .tooltip, 
 .voice-search-button .tooltip,
 .upload-icon-button .tooltip,
 .youtube-apps-button .tooltip,
 .notifications-icon-button .tooltip  {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -50px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
 }

 .search-button:hover .tooltip,
 .voice-search-button:hover .tooltip,
 .upload-icon-button:hover .tooltip,
 .youtube-apps-button:hover .tooltip,
 .notifications-icon-button:hover .tooltip {
  opacity: 1;
 }

