.thumbnail {
  width: 100%;
}  
.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}
.author {
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}                              
.stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.channel-pfp {
  display: inline-block;
  width: 50px;
  vertical-align: top;
  position: relative;
}
.pfp {
  width: 36px;
  border-radius: 50px;       
}
.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}
.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width: 750px) {
  .video-grid {
     grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time {
  font-family: Roboto, Arial;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  font-size: 12px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.video-link,
.channel-link {
  color: inherit;
  font-family: inherit;
  text-decoration: inherit;
}

.profile-tooltip {
  background-color: white;
  padding: 12px 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  top: 55px;
  z-index: 300;
  align-items: center;
  position: absolute;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: 0.15s;
  width: max-content;
}

.profile-tooltip-img {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin-right: 8px;
}

.channel-pfp:hover .profile-tooltip {
  opacity: 1;
  pointer-events: auto;
}

.title-tooltip {
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 16px;
}
 
.subscribers-tooltip {
  font-family: Roboto, Arial;
  font-size: 14px;
  color: rgb(96, 96, 96);
}

.tooltip-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

